.cv {
  background: #F0F0F0;
}
.cv-head {
  background: firebrick;
}
.header-cv {
  padding: 10% 0 5% 0;
  border-bottom: 5px solid rgba(50, 50, 50, 0.8);
}

a {
  color: rgb(10, 10, 10);
  &:hover {
    color: rgb(30, 30, 30);
  }
}
.skills {
  background: #F0F0F0;
}
.skills-cv {

}

.cv h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.cv p {
  margin-bottom: 5px;
  color: rgb(40, 40, 40);
}

.cv-pad {
  border-bottom: 5px solid rgba(50, 50, 50, 0.8);
  padding: 4% 0;
}
.ref-pad {
  padding: 4% 0;
}

.social-links {
  display: flex;
  margin-bottom: 10px;
  a {
    padding-right: 30px;
  }
}
