@import "page";
@import "nav";
@import "mobstyle";
@import "about";
@import "contact";
@import "work";

$danger: firebrick;

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.my-container {
  margin: 0 auto;
  width: 70%;
}

.site-footer .footer-layout {
  padding: 3% 0 2% 0;
  border-top: 5px solid rgba(10, 10, 10, 0.8);
}

.site-footer {
  background: #F0F0F0;

}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  p {
    padding-left: 15px;
    text-decoration: underline;
  }
  a {
      color: black;
    }
}

.button {
  background: transparent;
  font-weight: bold;
  padding: 12px;
  border: solid 5px #0E2F4F;
  &:hover {
    background: #0E2F4F;
    color: white;
  }
}
