.jaunt {
  padding-top: 3%;
  background-color: #226ab2;
  a {
    color: black;
  }
}

.jaunt-video {
  text-align: center;
  padding: 20px;
}

.vid {
  margin-top: -60px;
  display: flex;
  justify-content: center;
}

.let-it-grow {
  background-color: #6ab222;
  a {
    color: black;

  }
}
.grow-vid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.real-good {
  background-color: #6a22b2;
  a {
    color: black;
  }
}

.work-padding {
  padding: 3% 0 3% 0;
}

.mole-whack {
  background-color: #b26a22;
  a {
    color: black;
  }
}
