@import "https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700&display=swap";
#particles-js {
  background: firebrick;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.particles-js-canvas-el {
  position: absolute; }

.name-head {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

h1 {
  display: flex;
  padding: 30px;
  font-size: 100px; }

h2 {
  font-size: 40px;
  margin-bottom: 24px; }

h3 {
  font-size: 24px;
  margin-bottom: 24px; }

h1 span {
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards; }

h1 span:nth-child(1) {
  animation-delay: 0.5s; }

h1 span:nth-child(2) {
  animation-delay: 1s; }

h1 span:nth-child(3) {
  animation-delay: 1.5s; }

h1 span:nth-child(4) {
  animation-delay: 2s; }

h1 span:nth-child(5) {
  animation-delay: 2.5s; }

h1 span:nth-child(6) {
  animation-delay: 3s; }

h1 span:nth-child(7) {
  animation-delay: 3.5s; }

h1 span:nth-child(8) {
  animation-delay: 4s; }

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px); }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0); } }

nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1; }

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1); }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; }

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 2s;
  font-weight: 600;
  font-size: 30px; }

.fixed-nav li.logo {
  max-width: 500px; }

li.logo a {
  color: black; }
  li.logo a:hover {
    color: black; }

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase; }
  nav a:hover {
    text-decoration: none;
    color: white; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    padding: 5px;
    text-align: center; }
  h2 {
    font-size: 16px; }
  h3 {
    font-size: 12px; }
  nav a {
    font-size: 16px; }
  .my-container {
    width: 90% !important; }
  .button {
    border: solid 2px #0E2F4F !important;
    padding: 4px !important;
    font-size: 12px; }
  .site-footer p {
    font-size: 12px; }
  nav a {
    font-size: 12px; }
  .vid {
    margin-top: 0 !important;
    margin-left: -10px; } }

#about-section {
  padding: 8% 0 8% 0;
  background: #F0F0F0; }

.btn-danger a {
  color: white;
  font-size: 24px;
  padding: 8px; }

#contact-section {
  padding: 4% 0 8% 0;
  background: #F0F0F0; }

.jaunt {
  padding: 3% 0 1% 0;
  background-color: #226ab2; }
  .jaunt a {
    color: black; }

.jaunt-video {
  text-align: center;
  padding: 20px; }

.vid {
  margin-top: -65px; }

.let-it-grow {
  padding: 3% 0 2% 0;
  background-color: #6ab222; }
  .let-it-grow a {
    color: black; }

.real-good {
  padding: 3% 0 2% 0;
  background-color: #6a22b2; }
  .real-good a {
    color: black; }

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif; }

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

a:hover {
  text-decoration: underline; }

.my-container {
  margin: 0 auto;
  width: 70%; }

.site-footer .footer-layout {
  padding: 3% 0 2% 0;
  border-top: 5px solid rgba(10, 10, 10, 0.8); }

.site-footer {
  background: #F0F0F0; }

.footer-content {
  display: flex;
  justify-content: space-between; }

.footer-links {
  display: flex; }
  .footer-links p {
    padding-left: 15px;
    text-decoration: underline; }
  .footer-links a {
    color: black; }

.button {
  background: transparent;
  font-weight: bold;
  padding: 12px;
  border: solid 5px #0E2F4F;
  margin-top: 24px; }
  .button:hover {
    background: #0E2F4F;
    color: white; }
