.jaunt {
  padding-top: 3%;
  background-color: #226ab2; }
  .jaunt a {
    color: black; }

.jaunt-video {
  text-align: center;
  padding: 20px; }

.vid {
  margin-top: -60px;
  display: flex;
  justify-content: center; }

.let-it-grow {
  background-color: #6ab222; }
  .let-it-grow a {
    color: black; }

.grow-vid {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.real-good {
  background-color: #6a22b2; }
  .real-good a {
    color: black; }

.work-padding {
  padding: 3% 0 3% 0; }

.mole-whack {
  background-color: #b26a22; }
  .mole-whack a {
    color: black; }
