.jaunt {
  padding: 3% 0 1% 0;
  background-color: #226ab2; }
  .jaunt a {
    color: black; }

.jaunt-video {
  text-align: center;
  padding: 20px; }

.vid {
  margin-top: -65px; }

.let-it-grow {
  padding: 3% 0 1% 0;
  background-color: #6ab222; }
  .let-it-grow a {
    color: black; }

.real-good {
  padding: 3% 0 1% 0;
  background-color: #6a22b2; }
  .real-good a {
    color: black; }
